main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

table {
    max-height: 300px; /* Set a specific height for the tbody */
    overflow-y: auto; /* Add scrollbar for vertical overflow */
}